version: '2.3'

services:
  openvpn-client:
    environment:
      - DESECSTACK_VPN_SERVER=openvpn-server
    networks:
      vpnconnect:
  openvpn-server:
    networks:
      vpnconnect:
  replicator:
    environment:
      - DESECSTACK_VPN_SERVER=desec.$DESECSTACK_DOMAIN
      - DESEC_NS_E2E2=1
  test-e2e2:
    environment:
      - DESECSTACK_E2E2_SECONDARY_NS=10.16.0.2
    depends_on:
      - dnsdist
      - replicator
      - openvpn-server
    networks:
      nsfront:
        ipv4_address: 10.16.0.127  # reaches dnsdist at 10.16.0.2

networks:
  vpnconnect:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.254.1.0/24
        gateway: 10.254.1.1
