version: '2.2'

# mostly extending from main .yml
services:
  dnsdist:
    entrypoint: ["echo", "Service disabled"]
    restart: "no"

  openvpn-client_monitor:
    entrypoint: ["echo", "Service disabled"]
    restart: "no"

  replicator:
    environment:
    - DESEC_NS_REPLICATOR_EXIT_WHEN_DONE=1

  prometheus:
    entrypoint: ["echo", "Service disabled"]
    restart: "no"

  lmdb-backup:
    build: lmdb-backup
    image: ${DOCKER_REGISTRY}desec/lmdb-backup:latest
    init: true
    volumes:
    - ns:/var/lib/powerdns
    - ./lmdb-backup/backup:/backup
    restart: "no"
